{% extends 'base.html' %}

{% block content %}
<section class="content">
    <div class="row">
      <!-- left column -->
      <div class="column">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">WAR Result</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form role="form">
            <div class="box-body">
              <div class="form-group">

                <table id="example2" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Serial No.</th>
                    <th>Employee Name</th>
                    <th>Percentage</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>1</td>
                    <td>Dummy</td>
                    <td>100</td>
                  </tr>
                                
                  </tfoot>
                </table>
              </div>
              <!-- /.box-body -->
              </div>
              <!-- /.box -->
              </div>
              <!-- /.col -->
              </div>
              <!-- /.row -->
              </section>
  
{% endblock %}