{% extends 'base.html' %}

{% block content %}
<section class="content">
    <div class="">
      <!-- left column -->
      <div class=" ">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Display WAR Report</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form role="form">
            <div class="box-body">
              <div class="form-group">
                <div>
                <label for="year">Year</label>
                <select name="" type="text" disabled id="year" size="">
                <option value="" size="40">2021</option>
                <option value="" size="40">2020</option>
                <option value="" size="40">2019</option>
                </select>

                <label for="week">week</label>
                <select name="" type="text" disabled id="week" size="">
                <option value="" size="40">20</option>
                <option value="" size="40">21</option>
                <option value="" size="40">22</option>
                </select>

                <label for="employee">Employee</label>
                <select name="" type="text" disabled id="employee" size="">
                <option value="" size="40">A</option>
                <option value="" size="40">B</option>
                <option value="" size="40">C</option>
                </select>

                <button type="show" class="btn btn-primary">Show Detail</button>
              </div><br>

              <table id="example2" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Task No.</th>
                  <th>Date</th>
                  <th>Day</th>
                  <th>Task Name</th>
                  <th>Status</th>
                  <th>Zone</th>
                  <th>BOnus</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Trident</td>
                  <td> </td>
                  <td>Win 95+</td>
                  <td> 4</td>
                  <td>X</td>
                </tr>
                              
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
    
      <div class="box-body">
        <div class="form-group">
  <div>
    <label for="taskname">Total Task</label>
    <input type="text" class="form-group" id="name" placeholder="">
    <label for="zone">Green Zone</label>
    <input type="text" class="form-group" id="name" placeholder="">
    <label for="zone">Yellow Zone</label>
    <input type="text" class="form-group" id="name" placeholder="">
    <label for="zone">Red Zone</label>
    <input type="text" class="form-group" id="name" placeholder="">
  </div><br>
  <div>
    <label for="text">Help</label>
    <input type="text" class="form-group" id="help" placeholder="">
    <label for="zone">Not Done</label>
    <input type="text" class="form-group" id="text" placeholder="">
    <label for="zone">Bonus</label>
    <input type="text" class="form-group" id="text" placeholder="">
    <label for="zone">Time</label>
    <input type="text" class="form-group" id="time" placeholder="">
    <input type="text" class="form-group" id="time" placeholder="">
 </form>
</div>
{% endblock %}