/* .menu nav ul li a {
  color: darkorange;
  font-weight: bolder;
} */
p {
  color: darkgreen;
}

/* h2 span {
  color: darkorange;
} */

/* ul,
ol {
  float: left;
  width: 100%;
} */
ol {
  padding-left: 20px;
}
/* ul li,
ul li a,
ol li,
ol li a {
  color: darkgray;
  font-size: 13px;
  line-height: 33px;
} */
/* ul li i {
  color: gray;
  font-size: 15px;
  margin-right: 5px;
} */
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
/* section {
  float: left;
  width: 100%;
} */
/* .block {
  float: left;
  padding: 90px 0;
  width: 100%;
  position: relative;
} */
/* .block.remove-gap {
  padding-top: 0;
}
.block.remove-bottom {
  padding-bottom: 0;
} */

/* .block .container {
  padding: 0;
} */

/* .parallax {
  height: 100%;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  background-attachment: fixed !important;
  background-size: cover !important;
  width: 100%;
  z-index: -2;
} */
body {
  float: left;
  overflow-x: hidden;
  width: 100%;
  position: relative;
  font-family: arimo;
  color: darkgray;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.3px;
}

body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* h1,
h2, 
h3,
h4,
h5,
h6 {
  font-family: roboto slab;
  color: darkgray;
  letter-spacing: 0.25px;
} */

/* header {
  left: 0;
  padding-top: 25px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}
.header-logo {
  float: left;
} */

.header-logo {
  float: left;
}
/* .menu {
  float: right;
  background-color: brownn;
} */
nav {
  float: left;
}
/* .menu nav li {
  float: left;
  position: relative;
} */
/* /* .menu nav li a {
  color: white;
  float: left;
  font-family: arimo;
  font-size: 13px;
  line-height: 20px;
  margin: 0 10px;
  padding: 30px 15px;
  text-transform: uppercase;
} */
.menu nav > ul > li:hover > a {
  padding: 35px 15px 25px;
}
.menu nav li ul {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
  left: 0;
  position: absolute;
  top: 100%;
  width: 210px;
}
.menu nav li ul li {
  width: 100%;
}
/* 
.menu nav li ul li a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: darkgray;
  font-size: 12px;
  margin: 0;
  padding: 12px 20px;
  width: 100%;
} */
.menu nav li ul li:last-child a {
  border: 0 none;
}
.social {
  float: right;
  margin-left: 20px;
  padding-top: 24px;
}
.social > a {
  color: white;
  float: left;
  font-size: 15px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
}

/* .responsive-header {
  display: none;
} */

/* .slider {
  float: left;
  overflow: hidden;
  width: 100%;
  position: relative;
} */

/* .text-carousel-wrapper {
  float: left;
  height: 770px;
  width: 100%;
  position: relative;
}
.text-carousel {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
} */

/* .headtitle {
  display: table;
  margin: 0 auto 45px;
  width: 560px;
  text-align: center;
  position: relative;
} */
.headtitle:before,
.headtitle:after {
  background: url("../images/title-borders.png") no-repeat scroll 0 0
    rgba(0, 0, 0, 0);
  content: "";
  height: 13px;
  width: 121px;
  position: absolute;
  left: -91px;
  top: 40px;
}
.headtitle:after {
  left: auto;
  right: -91px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* .deal-hover {
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
} */
/* .deal:hover .deal-hover {
  opacity: 1;
  padding: 10px;
} */

/* .premiumdeal-wrap > p {
  color: white;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 10px 0;
  width: 100%;
} */
/* .premiumdeal-wrap > a {
  background: none repeat scroll 0 0 #fff;
  color: darkgray;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-top: 10px;
  padding: 3px 25px;
  cursor: pointer;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
} */

/* .controls {
  float: left;
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
} */
/* .controls li {
  border: 1px solid gray;
  color: darkgray;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 20px;
  margin: 0 5px;
  padding: 10px 30px;
  text-transform: uppercase;
  cursor: pointer;

  border-radius: 20px;

  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
} */

/* #Grid .mix {
  display: none;
  opacity: 0;
}
.joined li {
  padding: 0;
}

.portfolio {
  float: left;
  margin-bottom: 30px;
  width: 100%;
  position: relative;
}
.portfolio > img {
  width: 100%;
} */
/* .overlay {
  height: 100%;
  width: 100%;
  padding: 10px;
  position: absolute;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.joined .overlay {
  opacity: 0;
}

.hover {
  float: left;
  left: 0;
  margin-top: -50px;
  min-height: 120px;
  padding: 0 15px;
  position: absolute;
  text-align: center;
  top: 60%;
  width: 100%;
}

.hover > span {
  float: left;
  width: 100%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
} */
.portfolio:hover .hover > span {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* .about h3 {
  float: left;
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  width: 100%;
}
.about p {
  float: left;
  font-size: 16px;
  letter-spacing: 0;
  margin-bottom: 30px;
  width: 100%;
  text-align: justify;
} */
/* .counters-bar {
  float: left;
  width: 100%;
  height: 250px;
  padding: 50px 0;
  position: relative;
  margin-top: -60px;
} */

/* footer {
  background: url("../images/map.png") no-repeat scroll center center #181818;
  float: left;
  width: 100%;
} */
/* .map {
  float: left;
  height: 405px;
  width: 100%;
}
.map iframe {
  border: 0;
  float: left;
  width: 100%;
  height: 100%; 
} */
/* .contact-info {
  float: left;
  width: 100%;
}
.contact-info > h3 {
  color: white;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 10px;
  width: 100%;
} */
/* .contact-info > h3 span {
  float: left;
  font-size: 24px;
  line-height: 40px;
  width: 100%;
  font-weight: 400;
} */

.contact-info > ul {
  margin-top: 20px;
}

/* .contact-info li {
  color: gray;
  font-size: 14px;
  line-height: 27px;
  margin-bottom: 20px;
} */

/* .contact > input,
.contact > textarea {
  background: none repeat scroll 0 0 rgba(69, 69, 69, 0.65);
  border: 0 none;
  color: gray;
  float: left;
  font-family: arimo;
  font-size: 11px;
  font-style: italic;
  height: 50px;
  margin-bottom: 10px;
  letter-spacing: 0.4px;
  padding: 5px 20px;
  width: 100%;
} */
.contact > textarea {
  margin-bottom: 30px;
  min-height: 130px;
}
.contact > input[type="submit"] {
  color: white;
  display: table;
  float: none;
  font-family: "Times New Roman", Times, serif;
  border: 2px solid;
  font-size: 14px;
  font-style: normal;
  margin: 0 auto;
  padding: 0 50px;
  width: auto;
}

/* .owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
} 
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0, 0);
}
.owl-carousel .owl-controls .owl-dot,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel .owl-rtl {
  direction: rtl;
}
.owl-carousel .owl-rtl .owl-item {
  float: right;
}
.no-js .owl-carousel {
  display: block;
}
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}

.owl-carousel {
  cursor: move;
} */
