<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>{{title}}</title>
</head>
<body>
Fees
</body>
<h2>{{cname}} Fees: {{charge}}</h2>
<img src="{%static 'images/pic1.jpg'%}" alt="Picture">
<img src="{%get_static_prefix%}images/pic1.jpg" alt="Picture" />
<hr>
<form action="">
<input type="button" value="click me" onclick="disp()" />
</form>
<script src="{% static 'js/all.js' %}"></script>
</html>